# IP address or Hostname of ESXI host
export ESXI_HOST=esxi

# ESXi Username
export ESXI_USERNAME=root

# ESXi Password
export ESXI_PASSWORD=opensesame

# Name of ESXi datastore to upload CoreOS VM
# This name must match your ESXi installation.  Configured datastores can be found using vSphere Client
#   under the setting View->Inventory->Summary->Resources->Datastore
export ESXI_DATASTORE=diskstation

# Name of vmware network.  The ESXi out-of-the-box default name is "VM Network".  If your ESXi installtion did
#   not change this name, leave this setting commented out.
#   This name must match your ESXi installation.  Configured networks can be found using vSphere Client
#   under the setting View->Inventory->Summary->Resources->Network
#VM_NETWORK="xyz corp network"

# Network settings for our etcd server. Only the etcd server gets its network settings here.  The workers get this information from DHCP.
# Contact your network administrator for the correct settings to match your network
export GATEWAY=192.168.1.1
export DNS=192.168.1.42
export DOMAINS=example.com
